@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.openbtn {
    font-size: 18px;
    cursor: pointer;
    background-color: #1e441f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    transition: background-color 0.3s;
    height: 100%;
}

body {
    background-image: url('img/graos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.openbtn:hover {
    background-color: #357739;
}

.openbtn>i {
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1e441f;
}

.iconsCrud ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #1e441f;
}

.iconsCrud ul li {
    padding: 15px;
    margin: 0 5px;
    color: #fff;
}


.logout-btn {
    font-size: 16px;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #1a6b21;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #083d11;
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 1;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    background-color: #167909;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.options {
    margin-top: 10px;
}

.options>div>ul {
    display: flex;
}

.options>div>ul>li {
    list-style: none;
    margin-left: 60px;
}


/*formualario de cadastro*/
#conteudoCadastroProduto,
#conteudoCadastroFornecedor {
    text-align: center;
    background-image: linear-gradient(to bottom, #133313, #4e7651);
    padding: 10px;
    color: #ffffff;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    margin-top: -16px;
}


.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:not(:first-child),
td:not(:first-child) {
    margin-left: 10px;
}

td i {
    margin-right: 5px;
    color: #555;
    font-size: 16px;
}

/* botões alternáveis*/
.options ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #2f32de;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 0px;
}

.options ul li a:hover {
    background-color: #4e7651;
}

.options ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

/* botao selecionado*/
.options ul li a.selected {
    background-color: #ffffff;
    color: #000000;
}